@model massive_moose.web.owin.Models.WallViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.InviteCode</h2>

<p>Congratulations you have created a wall. Anybody with this link can draw on it.</p>