 body {
     min-width: 1600px;
     min-height: 900px;
}
.literally {
    height: 100%;
    position: static;

}
#wall {
    height: 100%;
}
#tblWall {
    width: 104%;
    height: 100%;
    background-image: url('/Content/Tiled_bricks.jpg');
}
.row {
}
.row_offset {
    width: 104%;
}
.row_offset td {
    position: relative;
    left: -4%;
}
.row td {
    position: relative;
    left: 0%;
}
#tblWall tr td {
    /*background-color: #ED7428;*/
    margin: 1px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}
#tblWall tr td:hover {
    background: #ffb6c1;
    margin: 1px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

#tblWall tr td img {
    width: 100%;
    height: 100%;
    float: left;
}
#tblWall tr td span{
    float: left;
    z-index: 1;
    position: relative;
}
#drawSpace {
    z-index: 100;
    height: 100%;
}
#save-etc {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 101;
    padding: 3px;
    border: 1px solid black;
    background: white;
}
#save-etc form {
    display: inline;
}