.tool-group { text-align: center;}
@media (max-width: @screen-xs-max) { .tool-group { text-align: center;} }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { .tool-group { text-align: center;} }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { .tool-group { text-align: center;} }
@media (min-width: @screen-lg-min) { .tool-group { text-align: center;} }

html,body{margin:0;padding:0;}
body {
     margin:0px !important;
     min-width: 1600px;
     min-height: 900px;
}
.literally {
    height: 100%;
    position: static;
    left:0px;
    top:0px;
    background-color:#fff !important;
}
.literally .lc-drawing.with-gui,.lc-drawing.with-gui {
    left:0px;
    top:0px;
}
.lc-picker, .lc-options{
    background-color:#fff !important;
}
#wall {
    height: 100%;
}
#tblWall {
    width: 100%;
    height: 100%;
    background-size: 50% 50%;
    background-repeat: repeat;
}
.row {
}
.offset_row {
}
.offset_row td {
    position: relative;
    left: 4%;
}
.row td {
    position: relative;
    left: 0%;
}
#tblWall tr td.brick {
    /*background-color: #ED7428;*/
    margin: 1px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

#tblWall tr td.free:hover {
    background: #ffb6c1;
    opacity:0.5;
    margin: 1px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

#tblWall tr td img {
    width: 100%;
    height: 100%;
    float: left;
}
#tblWall tr td.inuse {

 }
#tblWall tr td span {
    position: absolute;
}
#tblWall tr td span.bc {
    width: 100%;
    height: 100%;   
}
.brick.inuse span {
    width: 100%;
    height: 100%;
    background-color: #888;
    opacity: 0.3;
    font-size: 2em;
    text-align: center;
}

#drawSpace {
    z-index: 100;
    height: 100%;
}

.session-options {
    display:inline-block;
    right:0px;
    position:absolute;
}
.session-options button {
    height: 30px;
    width: 100px;
}
#tools-wrapper {
    z-index: 1000;
    position: fixed;
    /*width: 670px;*/
}
#tools-inner { 
    display: inline-block;
}
#tools {
    display: inline-block;
    padding: 0.5em;
    background-color: white;
    border: 1px solid black;
    top: 0px;
    border-radius: 3px;
}

.tool {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    max-width: 34px;
    max-height: 34px;
    margin-top: 3px;
}
.tools button, .tools input {
    width: 34px;
    height: 34px;
}
.tool:hover {
    border-color: #a1d9fe;
}
#primaryColor, #secondaryColor {
    font-size: 0;
    border: 1px solid black;
    corner-radius: 3px;
    width: 34px;
    height: 34px;
}
#help {
    font-size: 1em;
    display: inline-block;
    position: fixed;
    width: 90%;
    min-height: 200px;
    margin:20px;
    z-index: 1000;
    top: 0;
    left: 0;
}
#help .container {width:100%}
#help-scroller {
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 80%;
}
#help .row {
    margin-top: 1em;
}
.cp-app {
    z-index: 1001;
}
svg {
    max-width: 34px;
    max-height: 34px;
}
button.tool svg circle {
    fill: black;
    stroke: black;
}

#progress-indicator {
    background-image: url('/Content/progress.gif');
    background-repeat: no-repeat;
    background-size: contain contain;
    height: 20px;
    background-position: center;
}
.color {
	padding: .5em;
	margin-right: .4em;
	border: 1px solid #aaa;
	border-radius: 3px;
	width: 140px;
}

/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
    #help {
        width: 400px;
    height: 70%;
    min-height: 300px;
    margin: 20px;
    }
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
    #help {
        width: 80%;
        height: 50%;
        min-height: 270px;
        margin: 50px;
    }

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    #help {
        font-size: 2em;
        width: 80%;
        height: 50%;
        min-height: 200px;
        margin: 50px;
    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            #help {
                font-size: 2em;
        width: 80%;
        height: 50%;
        min-height: 200px;
        margin: 50px;
    }

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
            #help {
                font-size: 3em;
        width: 80%;
        height: 50%;
        margin: 100px;
    }

    }
