.tool-group { text-align: center;}
@media (max-width: @screen-xs-max) { .tool-group { text-align: center;} }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { .tool-group { text-align: center;} }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { .tool-group { text-align: center;} }
@media (min-width: @screen-lg-min) { .tool-group { text-align: center;} }

html,body{margin:0;padding:0;}
body {
    min-width:1600px;
     min-height: 900px;
     margin:0px !important;
}
.literally {
    height: 100%;
    position: static;
    left:0px;
    top:0px;
    background-color:#fff !important;
}
.literally .lc-drawing.with-gui,.lc-drawing.with-gui {
    left:0px;
    top:0px;
}
.lc-picker, .lc-options{
    background-color:#fff !important;
}
#wall {
    height: 100%;
}
#tblWall {
    width: 104%;
    height: 100%;
    background-size: 50% 50%;
    background-repeat: repeat;
}
.row {
}
.offset_row {
    width: 104%;
}
.offset_row td {
    position: relative;
    left: -4%;
}
.row td {
    position: relative;
    left: 0%;
}
#tblWall tr td {
    /*background-color: #ED7428;*/
    margin: 1px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}
#tblWall tr td:hover {
    background: #ffb6c1;
    opacity:0.5;
    margin: 1px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

#tblWall tr td img {
    width: 100%;
    height: 100%;
    float: left;
}
#tblWall tr td span{
    float: left;
    z-index: 1;
    position: relative;
}
#drawSpace {
    z-index: 100;
    height: 100%;
}

.session-options {
    display:inline-block;
    right:0px;
    position:absolute;
}
.session-options button {
    height: 30px;
    width: 100px;
}
#tools-wrapper {
    z-index: 2;
    position: fixed;
    width: 670px;
}
#tools-inner { 
    display: inline-block;
}
#tools {
    display: inline-block;
    padding: 0.5em;
    background-color: white;
    border: 1px solid black;
    top: 0px;
    border-radius: 3px;
}

.tool {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    max-width: 34px;
    max-height: 34px;
    margin-top: 3px;
}
.tools button, .tools input {
    width: 34px;
    height: 34px;
}
.tool:hover {
    border-color: #a1d9fe;
}
#primaryColor, #secondaryColor {
    font-size: 0;
    border: 1px solid black;
    corner-radius: 3px;
    width: 34px;
    height: 34px;
}
#help {
    font-size: 1em;
    display: inline-block;
    position: fixed;
    width: 60%;
    height: 60%;
    top: 0;
    left: 0;
    margin:auto;
    z-index: 3;
    padding: 15px;
}
#help .container {width:100%}
#help-scroller {
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 240px;
}
#help .row {
    margin-top: 1em;
}
.cp-app {
    z-index: 5;
}
svg {
    max-width: 34px;
    max-height: 34px;
}
button.tool svg circle {
    fill: white;
    stroke: white;
}

