@model massive_moose.web.Models.WallViewModel
@{
    ViewBag.Title = "Home Page";
}

@section stylesheets
{
    <link href="/content/literallycanvas.css" rel="stylesheet">
    <link href="/content/Wall.css" rel="stylesheet">
    <meta name="viewport" content="width=1600,height=900px,initial-scale=3"/>
}

@section scripts
{
<!-- dependency: React.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="/scripts/literallycanvas/literallycanvas.js"></script>
    <script src="/scripts/html.js"></script>
    <script type="text/javascript">
        var _baseApiUrl = '@System.Configuration.ConfigurationManager.AppSettings["MMApi"]';
        var _drawZoom = @System.Configuration.ConfigurationManager.AppSettings["DrawZoom"];
    </script>
}

<div id="wall">
    <table id="tblWall">
        @for (int y = 0; y < 12; y++)
        {
            <tr class="@(y%2==1?"offset_row":"row")">
                @for (int x = 0; x < 12; x++)
                {
                <td id="c@(y*12 + x)"></td>
                }
            </tr>
        }
    </table>
</div>
<div id="drawSpace"></div>

<div id="save-etc">
    <span id="messages"></span>
    <form class="finish-and-upload">
        <input type="submit" data-action="upload" value="Finish and Upload">
    </form>
    <form class="cancel">
        <input type="submit" data-action="cancel" value="Cancel">
    </form>

</div>