@{
    ViewBag.Title = "Home Page";
}

@section stylesheets
{
    <link href="/content/literallycanvas.css" rel="stylesheet">
    <style>
        #root {
            height: 800px;
        }
        .literally {height:800px;}
    </style>
}

@section scripts
{
<!-- dependency: React.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="/scripts/literallycanvas/literallycanvas.js"></script>
    <script src="/scripts/html.js"></script>
}

<div id="root"></div>

<form class="finish-and-upload">
    <input type="submit" data-action="upload" value="Finish and Upload">
</form>
<form class="cancel">
    <input type="submit" data-action="cancel" value="Cancel">
</form>