@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="/scripts/jsColorPicker.min.js"></script>
</head>
<body>
<div>
    <input name="foregroundColor" id="foregroundColor" class="foregroundColor" value="#000000" />
</div>
    <script type="text/javascript">
    var foregroundColor=jsColorPicker('input.foregroundColor', {
        customBG: '#222',
        readOnly: true,
        // patch: false,
        init: function (elm, colors) { // colors is a different instance (not connected to colorPicker)
            elm.style.backgroundColor = elm.value;
            elm.style.color = colors.rgbaMixCustom.luminance > 0.22 ? '#222' : '#ddd';
        },
        actionCallback: function (event, type) {
            console.log(type);
            if (type === 'changeXYValue') { // overwriting right after repaint...
                console.log(foregroundColor.current.color.colors.hsl);
            }
        }
    });

    </script>
</body>
</html>
