@{
    Layout = "~/Views/Shared/_Wall.cshtml";
}

@section stylesheets{
<link href="~/Content/draw.css" rel="stylesheet" />
}

<div id="drawSpace"></div>

@section scripts {
    <script type="text/javascript" src="/Scripts/draw.js"></script>
    <script type="text/javascript">
        MassiveMoose().initialize(document.getElementById('drawSpace'),
        {
            width: window.innerWidth,
            height:window.innerHeight
        });
    </script>
}
