@{
    Layout = "~/Views/Shared/_Wall.cshtml";
}


<div id="drawSpace"></div>

@section scripts {
    <script type="text/javascript" src="/Scripts/draw.js"></script>
    <script type="text/javascript">
        MassiveMoose().initialize(document.getElementById('drawSpace'),
        {
            width: screen.availWidth,
            height:screen.availHeight
        });
    </script>
}
