@{
    Layout = null;
}

<div class="container" style="width: 100%">
    <div class="row">
        <div class="col-md-12"><strong>Okay, here's what to do.</strong></div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/Content/help/explore.png"/>
        </div>
        <div class="col-md-6">Move around the wall by dragging with your finger to look at what other people have already contributed.</div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/Content/help/pinch.png"/>
        </div>
        <div class="col-md-6">Pinch to zoom in and out.</div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/Content/help/tap.png"/>
        </div>
        <div class="col-md-6">Tap or click an area of the wall to start drawing there. You can choose an area someone has already drawn on!</div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/Content/help/draw.png"/>
        </div>
        <div class="col-md-6">Draw something. Use the tools at the top to change the color, size and type of your brush. You can also zoom, pan, undo and redo. When you're done click the save icon.</div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/Content/help/done.png"/>
        </div>
        <div class="col-md-6">Your drawing will be applied to the wall for everyone to see. Yay!</div>
    </div>
</div>